@model FacebookApp.Models.Models.FacebookPost

@{
    ViewBag.Title = "Expand";
}

<h2>Expand</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MyPosts</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedTime, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreatedTime, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.CreatedTime, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Story, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Story, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Story, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LikesCount, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.LikesCount, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.LikesCount, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "PostListPage")
</div>